@import 'navSocialmedia';
@import 'headerHeading';
@import 'navUser';

.site-header {
    padding: $paddingSectionSmall;
    height: 50vh;
    background-image: url('/images/header/img1.jpg');
    @include background(center, no-repeat, cover);

}


@include breakpoint(medium_v2) {
    .site-header {
        padding: $paddingSectionMediumV2;
        height: 60vh;
    }
}