@import 'navSocialmedia';
@import 'headerHeading';

.site-header {
    padding: $paddingSectionSmall;
    height: 50vh;
    background-image: url('/images/header/img1.jpg');
    @include background(center, no-repeat, cover);

}