.nav-socialmedia {
    @include flexBox(row);
    justify-content: space-between;
}


.nav-socialmedia_actions {
    @include flexBox(row);

}

.line-decoration {
    display: none;
}

.nav-socialmedia_action {
    font-size: 16px;
    color: $fontFirstColor;
    padding: 0 7px;
}

.nav-trigger {
    color: $fontFirstColor;
    font-size: 20px;
}